@import '@/style/variable/color.scss';
@import '@/style/variable/font.scss';

.s-button {
  height: 34px;
  font-size: $font-size-base;
  background: $color-primary;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 4px;
  box-shadow: none;
  color: $color-white;
  border: none;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  transition: all .3s;
  box-sizing: border-box;

  margin-right: 8px;
  margin-bottom: 12px;

  &:hover{
    background-color: lighten($color: $color-primary, $amount: 5)
  }
  &.small{
    height: 24px;
    font-size: $font-size-base;
    padding-left: 7px;
    padding-right: 7px;
  }
  &.large{
    height: 40px;
    font-size: $font-size-large;
    padding-left: 15px;
    padding-right: 15px;
  }
  &:focus{
    outline: none;
  }
}