@import '@/style/variable/color.scss';
@import '@/style/variable/font.scss';

.button {
  height: 34px;
  font-size: $font-size-base;
  font-family: $font-family;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 4px;
  user-select: none;
  -webkit-user-select: none;
  transition: all .3s;
  box-sizing: border-box;
  box-shadow: 0 2px $color-button-shadow;
  border: 1px solid $color-border;
  margin-right: 8px;
  margin-bottom: 12px;
  background: $color-white;
  color: $color-text-primary;
  cursor: pointer;

  &.small{
    height: 24px;
    font-size: $font-size-base;
    padding-left: 7px;
    padding-right: 7px;
  }
  &.large{
    height: 40px;
    font-size: $font-size-large;
    padding-left: 15px;
    padding-right: 15px;
  }
  &:focus{
    outline: none;
  }
  &:hover{
    color: $color-primary-hover;
    border-color: $color-primary-hover;
  }
  &:active{
    color: $color-primary-active;
    border-color: $color-primary-active;
  }

  &.primary{
    color: $color-white;
    background-color: $color-primary;
    border-color: $color-primary;
    &:hover{
      background-color: $color-primary-hover;
    }
    &:active{
      background-color: $color-primary-active;
    }
  }

  &.danger{
    color: $color-danger;
    background-color: $color-danger-bg;
    &:hover{
      color: $color-white;
      background-color: $color-danger;
      border-color: $color-danger;
    }
    &:active{
      background-color: $color-danger-active;
      border-color: $color-danger-active;
    }
  }

  &.dashed{
    border-style: dashed;
  }

  &:disabled{
    background-color: $color-disabled-bg;
    border-color: $color-disabled-border;
    color: $color-disabled-text;
    cursor: not-allowed;
  }
}