@import "@/style/variable/font.scss";
@import "@/style/variable/color.scss";

@mixin notice($type) {
  &.#{$type} {
    background-color: $color-#{$type}-bg;
    color: $color-#{$type};
    border-color: $color-#{$type}-border;
  }
}
.message {
  font-family: $font-family;
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 8px;
  right: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 999;
  pointer-events: none;
  .notice {
    pointer-events: all;
    box-sizing: border-box;
    transform: translate3d(0, -30%, 0);
    opacity: 0;
    margin-top: 8px;
    &.active {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
    &.hide {
      transform: translate3d(0, -30%, 0) !important;
      opacity: 0 !important;
    }
    &.hide-2 {
      height: 0 !important;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      border: 0 !important;
      margin-top: 0 !important;
    }
    &.success,
    &.error,
    &.warn,
    &.info {
      .notice-icon {
        margin-right: 10px;
        flex-shrink: 0;
      }
      font-size: $font-size-base;
      border: 1px solid;
      border-radius: 4px;
      padding: 15px 20px;
      min-width: 200px;
      display: flex;
      align-items: center;
    }
    &.success {
      background-color: $color-success-bg;
      color: $color-success;
      border-color: $color-success-border;
    }
    &.info {
      background-color: $color-info-bg;
      color: $color-info;
      border-color: $color-info-border;
    }
    &.warn {
      background-color: $color-warn-bg;
      color: $color-warn;
      border-color: $color-warn-border;
    }
    &.error {
      background-color: $color-error-bg;
      color: $color-error;
      border-color: $color-error-border;
    }
  }
}
