@import "@/style/variable/font.scss";

.layout {
  display: flex;
  flex: auto;
  flex-direction: column;
  box-sizing: border-box;
  font-family: $font-family;

  &.has-sider {
    flex-direction: row;
  }

  > * {
    box-sizing: border-box;
  }
}
