.tabs-content {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-grow: 1;
  &.animate {
    transition: transform 0.3s;
  }
  &.left,
  &.right {
    flex-direction: column;
  }
}
