@import "@/style/variable/font.scss";
@import "@/style/variable/color.scss";

.tabs-nav {
  color: $color-text;
  box-sizing: border-box;
  font-size: $font-size-base;
  display: flex;
  border-bottom: 1px solid $color-border;
  position: relative;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
  flex-shrink: 0;
  .ink-bar {
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: $color-primary;
    bottom: -1px;
    flex-shrink: 0;
    &.animate {
      transition: all 0.3s;
    }
  }
  .tabs-tab:not(:nth-last-child(2)) {
    margin: 0 32px 0 0;
  }
  &.left,
  &.right {
    border: none;
    flex-direction: column;
    .tabs-tab:not(:nth-last-child(2)) {
      margin: 0 0 16px 0;
    }
  }
  &.left {
    border-right: 1px solid $color-border;
    .ink-bar {
      top: 0;
      width: 2px;
      height: 100px;
      right: -1px;
    }
  }
  &.right {
    border-left: 1px solid $color-border;
    .ink-bar {
      top: 0;
      left: -1px;
    }
  }
  &.bottom {
    border: none;
    border-top: 1px solid $color-border;
    .ink-bar {
      left: 0;
      top: -1px;
    }
  }
}
