@import "@/style/variable/color.scss";
@import "@/style/variable/font.scss";

.tabs-tab {
  box-sizing: border-box;
  padding: 12px 16px;
  transition: color 0.3s;
  cursor: pointer;
  flex-shrink: 0;
  position: relative;
  line-height: 1.5;
  &.large {
    padding: 16px;
    font-size: $font-size-large;
  }
  &.small {
    padding: 8px 16px;
  }
  &.left,
  &.right {
    padding: 8px 24px;
    &.large {
      padding: 16px;
    }
    &.small {
      padding: 8px 16px;
    }
  }
  &.left {
    text-align: right;
  }
  &.right {
    text-align: left;
  }
  &.selected {
    color: $color-primary;
  }
  &:hover {
    color: $color-primary-hover;
  }
  &:active {
    color: $color-primary-active;
  }
  &.disabled {
    color: $color-disabled-text !important;
    cursor: not-allowed !important;
  }
}
