@import "@/style/variable/font.scss";

.tabs {
  display: block;
  box-sizing: border-box;
  font-family: $font-family;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &.position-left {
    flex-direction: row;
  }
  &.position-right {
    flex-direction: row-reverse;
  }
  &.position-bottom {
    flex-direction: column-reverse;
  }
}
